a {
  width: 0px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.section {
  width: 1508px;
  height: 900px;
  background-color: #f5f5f5;
}
.section__article {
  width: 1170px;
  height: 211px;
  margin-left: 168px;
  padding-top: 50px;
}
.section__article_header {
  height: 149px;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.section__article_line {
  width: 170px;
  border: 1px solid #ec7979;
  margin-left: 500px;
  margin-bottom: 40px;
}
.section__article_footer {
  height: 21px;
  color: #86878b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.section__main {
  padding-top: 59px;
  width: 1170px;
  height: 530px;
  display: flex;
  margin-left: 168px;
}
.section__main_block1 {
  padding-top: 20px;
  box-sizing: border-box;
  width: 370px;
  margin-right: 30px;
  height: 510px;
  border: 2px solid #f5f5f5;
}
.section__main_block1:hover {
  box-sizing: border-box;
  padding-top: 0px;
  transition: 1s;
  box-shadow: 0px 4px 10px 0px #33333333;
}
.section__main_block1_basic {
  width: 370px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #333333;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  border-bottom: 2px solid #f5f5f5;
}
.section__main_block1_price {
  width: 370px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: #333333;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  border-bottom: 2px solid #f5f5f5;
}
.section__main_block1_info {
  width: 370px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: #333333;
  color: #ffffff80;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-bottom: 2px solid #f5f5f5;
}
.section__main_block1_storage {
  width: 370px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  color: #86878b;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-bottom: 2px solid #f5f5f5;
}
.section__main_block2 {
  padding-top: 20px;
  box-sizing: border-box;
  width: 370px;
  margin-right: 30px;
  height: 510px;
  border: 2px solid #f5f5f5;
}
.section__main_block2:hover {
  box-sizing: border-box;
  padding-top: 0px;
  transition: 1s;
  box-shadow: 0px 4px 10px 0px #33333333;
}
.section__main_block2_basic {
  width: 370px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #333333;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  border-bottom: 2px solid #f5f5f5;
}
.section__main_block2_price {
  width: 370px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: #333333;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  border-bottom: 2px solid #f5f5f5;
}
.section__main_block2_info {
  width: 370px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: #333333;
  color: #ffffff80;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-bottom: 2px solid #f5f5f5;
}
.section__main_block2_storage {
  width: 370px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  color: #86878b;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-bottom: 2px solid #f5f5f5;
}
.section__main_block3 {
  padding-top: 20px;
  box-sizing: border-box;
  width: 370px;
  height: 510px;
  border: 2px solid #f5f5f5;
}
.section__main_block3:hover {
  box-sizing: border-box;
  padding-top: 0px;
  transition: 1s;
  box-shadow: 0px 4px 10px 0px #33333333;
}

.section__main_block3_basic {
  width: 370px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #333333;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  border-bottom: 2px solid #f5f5f5;
}
.section__main_block3_price {
  width: 370px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: #333333;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  border-bottom: 2px solid #f5f5f5;
}
.section__main_block3_info {
  width: 370px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: #333333;
  color: #ffffff80;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-bottom: 2px solid #f5f5f5;
}
.section__main_block3_storage {
  width: 370px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  color: #86878b;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-bottom: 2px solid #f5f5f5;
}
